body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #0073e6;
  font-weight: bold;
}

.search-section {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.search-section input {
  flex: 1;
  padding: 8px;
  font-size: 1rem;
}

.search-section button {
  padding: 8px 12px;
  font-size: 1rem;
}

.content {
  display: flex;
  gap: 20px;
}

.sort-box {
  width: 200px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 4px;
  font-size: 0.95rem;
  height: fit-content;
  background-color: #fff;
}

.movie-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-card h2 {
  margin: 10px 0 5px;
  font-size: 1rem;
}

.movie-card .release,
.movie-card .rating {
  font-size: 0.9rem;
  margin: 0 0 5px;
}

.movie-card .release {
  color: #555;
}

.movie-card .rating {
  color: #ffcc00;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  color: white;
  opacity: 0;
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;
  font-size: 0.85rem;
  text-align: left;
  overflow-y: auto;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}



/* signup, login */
/* header */
.header {
  text-align: center; 
}

/* nav */
nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  color: #007bff;
}

nav a:hover {
  text-decoration: underline;
  color: #4c83e9;
}

/* form */
form {
  width: 400px; 
  margin: 20px auto; 
  padding: 20px; 
  border: 3px solid black; 
  border-radius: 10px;
  background-color: #ffffff; 
}

/* label */
form label {
  margin-bottom: 5px;
  font-size: 15px; 
}

/* submit button */
.submit {
  width: 100px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px; 
  border: none; 
  background-color: #007bff; 
  color: white;
}
.submit:hover {
  color: #000000;
}

/* reset button */
.reset {
  width: 100px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px; 
  border: none; 
  background-color: #ff3700; 
  color: white;
}

.reset:hover {
  color: #000000;
}

hr {
  border: none;
  height: 2px;
  background: #333;   /* 진한 색으로 변경 */
  margin: 10px 0;
}

.comments p {
  background-color: #f0f0f0;  /* 연한 회색 배경 */
  padding: 8px 12px;          /* 내부 여백 */
  border-radius: 4px;         /* 모서리 둥글게 */
  margin: 6px 0;              /* 위아래 마진은 그대로 두세요 */
  color: #333;                /* 텍스트 컬러 조정 (필요 시) */
}

